.form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 10px;
}

.name {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    text-align: left;
    gap: 5px;
}

button {
    align-self: center;
    width: 150px;
    margin-top: 20px;
    color: #FFFFFF;
}

.error {
    color: #FF0000;
}